body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    
}
  nav img {
    height: 50px;
    width: auto;
  }
  
  nav ul {
    display: flex;
    list-style: none;

  }
  .fb{
    padding-top: 5%;
  }
  nav a {
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    
  }



  h1{
    padding-top: 22px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  nav a:hover
  {
    border-bottom: 2px solid black;
    cursor: pointer;
    color: white;
    transition: 0.5s;
  }

  .fb-section {
    background-color: #3b5998;
    padding: 20px;
    text-align: center;
  }
  
  .fb-section-title {
    color: white;
  }
  
  .fb-section-text {
    color: white;
  }

  /*twitter!!*/

  .twitter-section {
    background-color: #00acee;
    padding: 20px;
    text-align: center;
  }
  
  .twitter-section-title {
    color: black;
  }
  
  .twitter-section-text {
    color: black;
  }

  /*Instagram!!!*/
  .instagram-section {
    background-color: #e1306c;
    padding: 20px;
    text-align: center;
  }
  
  .instagram-section-title {
    color: black;
  }
  
  .instagram-section-text {
    color: black;
  }
  
  /*Tiktok*/
  .tiktok-section {
    background-color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  .tiktok-section-title {
    color: white;
  }
  
  .tiktok-section-text {
    color: white;
  }

  /*Github*/

  .github-section {
    background-color: #373535;
    padding: 20px;
    text-align: center;
  }
  
  .github-section-title {
    color: white;
  }
  
  .github-section-text {
    color: white;
  }


  .fb-section-button {
    background-color: white;
    padding: 10px 20px;
    color: black;
    border-radius: 5px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    
  }
  
  

  .social-btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
  }
  
  .social-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  }
  


  .social-btn i {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 24px;
    color: #333;
  }
  

  .facebook-btn {
    background-color: #3b5998;
  }
  
  .facebook-btn i {
    color: #fff;

  }
  
  /* Twitter */
  .twitter-btn {
    background-color: #1DA1F2;
  }
  
  .twitter-btn i {
    color: #fff;
  }
  
  /* Instagram */
  .instagram-btn {
    background-color: #e1306c;
  }
  
  .instagram-btn i {
    color: #fff;
  }
  
  /* Github */
  .github-btn{
    background-color: black;
  }
  
  .github-btn i {
    color: white;
  }

  /*tiktok*/
 
.tiktok-btn {
    background-color: white;
  }
  
.tiktok-btn i {
  color: black;
}


footer {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 26px;
  padding: 20px;
  text-align: center;
}

.footer-content p {
  margin: 0;
  font-size: 18px;
}


.social-links a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

.social-links a:hover{
  border-bottom: 2px solid black;
    cursor: pointer;
    transition: 0.5s;
}